{% extends "account/base.html" %} {% load crispy_forms_tags %}
 {% block content %}
  {% if user.is_authenticated %}
<div class="container">
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="{{ user.userprofile.image.url }}"class="card-img" alt="not-found">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <span>Username</span>
          <h5 class="card-title">{{user.username}}</h5>
          <span>Email</span>
          <p class="card-text"><small class="text">{{user.email}}</small></p>
          <p> <a href="{% url 'profile-edit' %}">  Update profile</a></p>
          <p> <a href="{% url 'account_change_password' %}">  Change your Password </a></p>
          <p><a href="{% url 'add-item' %}">Add Product</a></p>
        </div>
      </div>
    </div>
  </div>

  


    <div class="row">
      {% for i in item %}
      <div class="col-lg-3 m-4">
        <img class="thumbnail" src="{{i.item_image.url}}" />
        <div class="box-element product">
          <h6><strong>{{i.item_name}}</strong></h6>
          <small>{{i.status}}</small>
          <hr />
          <a class="btn btn-outline-success" href="#">View</a>
          <h4 style="display: inline-block; float: right; ">
            <strong>{{i.price}}</strong>
          </h4>
        </div>
      </div>
    
      {% endfor %}
    </div>
  </div>
 
</div>


{% else %}
<p>
  Already have an account? Then please
  <a href="{% url 'account_login' %}">Log in</a>.
</p>
{% endif %}
{% endblock %}
